on: [push]

jobs:
  build-push:
    runs-on: ubuntu-latest
    name: Builds Typescript
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Building Typescript
        uses: FuLagann/tsc-build-push@v1
        with:
          user-email: "chadderboxdev@gmail.com"
          user-name: "ceebox"
          message: "Automatically built unbuilt typescript"
          directories: ./, ./ThouPipe/
        env:
          GITHUB_TOKEN: ${{ github.token }}
