on: [push]

jobs:
  build-push:
    runs-on: ubuntu-latest
    name: Builds Typescript
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Building Typescript
        uses: FuLagann/tsc-build-push@v1
        with:
          user-email: "chadderboxdev@gmail.com"
          user-name: "ceebox"
          message: "Automatically built unbuilt typescript"
          directories: ./, /home/runner/work/ThouPipe/ThouPipe
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Commit
        run: git add . -f; git commit -m "Automatically built unbuilt typescript."; git push;
        env:
          GITHUB_TOKEN: ${{ github.token }}
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      # ...
      - name: "Build & test"
        run: |
          echo "Done!"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            LICENSE.txt
            *.html
            *.js
